body {
  margin-bottom: 150px;
  font-family: Arial, sans-serif;
  background-image: url("../images/concrete_seamless.png");
}

html {
  position: relative;
  min-height: 100%;
}


.about-me-header {
  margin-bottom: 30px;
  font-family: Georgia, serif;
  font-size: 30px;
  font-weight: bold;
  color: #4aaaa5;
}

.about-me-content {
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  background-color: #fff;
}

.about-me-content > p {
  padding-top: 20px;
  font-size: 15px;
  line-height: 30px;
  color: #bbc;
}

#nate-image {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}


#connect-with-me-area {
  width: 100%;
  padding: 30px 30px 40px;
  margin-top: 30px;
  background-color: #fff;
}

.connect-with-me-header {
  margin-bottom: 15px;
  font-family: Georgia, serif;
  font-size: 25px;
  font-weight: bold;
  color: #4aaaa5;
}

.connect-with-me-photo {
  width: 55px;
  height: 55px;
}

#images {
  padding-top: 15px;
  text-align: center;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: #666;
}

.text-footer {
  margin-top: 15px;
  color: #fff;
}

.two-toned-footer-color {
  height: 6px;
  padding-top: 3px;
  background-color: #4aaaa5;
}

.contact-form {
  width: 100%;
  padding: 45px 10px 25px 31px;
  margin-top: 30px;
  background-color: #fff;
}

.contact-form-header, .port-header {
  margin-bottom: 30px;
  font-family: Georgia, serif;
  font-size: 30px;
  font-weight: bold;
  color: #4aaaa5;
}

#name_input, #mail_input, #msg {
  width: 95%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#msg {
  height: 200px;
  border-color: #bbc;
}

.label-name, .label-msg, .label-mail {
  font-size: 15px;
  color: #bbc;
}

.contact-hr {
  margin-bottom: 30px;
}

#portfolio-area {
  width: 85%;
  padding: 45px 10px 25px 30px;
  margin-top: 30px;
  margin-bottom: 200px;
  background-color: #fff;
}

.port-hr {
  margin-bottom: 40px;
}

.imgs {
  width: 230px;
  height: 165px;
  margin-right: 15px;
  margin-bottom: 15px;
}
